

/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: lightgoldenrodyellow;
  height: 60px; 
}

/* Title styles */
h2 {
  font-size: 28px;
  margin: 0;
}

/* Logout button styles */

.employee-container{
  /* background-color: lightsteelblue; */
}


/* Employee cards styles */
.employee-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

/* Card styles */
.log{
  
  background-color: lightgoldenrodyellow;
}
.card {
  width: 250px;
  margin: 10px;
  padding: 15px;
  border: 2px solid ;
  border-radius: 15px;

  border-color: goldenrod;
  position: relative;
}

/* Card title styles */
.card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Card details styles */
.card p {
  margin: 5px 0;
}

/* Card link styles */
.card a {
  text-decoration: none;
  color: #007bff;
}

.card a:hover {
  text-decoration: underline;
}
/* Delete button styles */
.card button {


  border: none;
 background-color: white;
  cursor: pointer;
  padding: 8px;
  position: absolute;
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
}
/* 
.card button:hover {
  background-color: #c82333;
} */


/* Navigation arrows styles */
.navigation-arrows {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 20px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
}

.arrow {
  cursor: pointer;
  font-size: 24px;
 
}


/* ... (other CSS rules remain the same) */
