/* TimeHistory.css */

/* Reset margin and padding on the body */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container styling */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

/* Style for labels */
.select-his {
  margin-bottom: 10px; /* Adjust as needed */
}

/* Style for dropdowns and buttons */
.select-his,
.button-his {
  margin-bottom: 15px; /* Adjust as needed */
}

/* Style for buttons */
.button-his {
  background-color: steelblue;
  color: white;
  padding: 15px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


/* Header styling */
header {
  width: 100%;
  text-align: center;
}

/* Additional styling for the back button */
.back-button {
  background-color: #ff9800;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}



th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}