/* TimeHistory.css */

/* Style the main container */
.history {
  text-align: center;
  margin: 20px;
}

/* Style the headings */
.his {
  font-size: 24px;
  margin-bottom: 20px;
}

.h2-his {
  font-size: 20px;
  margin-top: 20px;
}

/* Style the label and input/select elements */


select,
input,
button {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  margin-right: 10px;
  
} 

.li-button {
  background-color: #007bff;
  color:  #007bff;
  border: none;
  cursor: pointer;
  
}

/* button:hover {
  background-color: #0056b3;
} */

/* Style the table */
.employee-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(6, 43, 166, 0.2);
}

.employee-table th,
.employee-table td {
  border: 1px solid #ccc;
  padding: 10px;
}
.list2 {
  background-color: gainsboro; /* Set your desired background color */
  margin: 0; /* Remove default body margin */

 
  height: 100vh;
}

.back-button {
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 20px;
  position: absolute; /* Position the button absolutely within the container */
  top: 18px; /* Adjust the top distance as needed */
  right: 10px;
}

.time-in {
  background-color: skyblue;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 20px;
 
}
.logout-button {
  background-color: orangered;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 20px;
  top: 10px; /* Adjust the top distance as needed */
  right: 10px;
}