/* TimeHistory.css */

/* ... other styles ... */

/* Container styling */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}


/* Style for labels */
.select-his {
  margin-bottom: 10px; /* Adjust as needed */
}

/* Style for dropdowns and buttons */
.select-his,
.button-his {
  margin-bottom: 15px; /* Adjust as needed */
}

/* Style for buttons */
.button-his {
  background-color: steelblue;
  color: white;
  padding: 15px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Header styling */
.header2 {
  width: 100%;
  text-align: center;
  background-color:linen;
}



/* Table styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

/* Container for input, dropdown, and label */
.input-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three equal columns */
  gap: 15px; /* Adjust as needed */
  margin-bottom: 15px;
}

/* Style for labels within the container */
.input-container label {
  margin-bottom: 5px;
}

/* Style for input and select within the container */
.input-container input,
.input-container select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Button container */
.button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
 margin-top: 20px;
}
/* TimeHistory.css */

/* ... other styles ... */

/* Container for the cards */
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px; /* Adjust as needed */
}

/* Style for the input cards */
.input-card {
  padding: 15px;
  border: 2px solid black;
  border-radius: 5px;
}
.body-full1 {
  margin: 0;
  padding: 0;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.back-buttonn{
  position:absolute;
  right: 10px;
  
}
.button-his-load {
  background-color:black;
  color: white;
  padding: 15px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15px; 
}
