/* Login.css */

body, html {
    margin: 0;
    padding: 0;
}

.login-body {
    overflow: hidden;
    display: flex;
    background-color: whitesmoke;
}

.login-left {
    flex: 1;
    background-image: url('../../time-sheet.png');
    background-size: cover;
    position: relative;
    width: 60%;
    height: 100vh;
}

.login-container {
    text-align: center;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center; /* Center the content horizontally */
     /* Add margin to separate from the image */

}

.login-right {
    flex: 1;
    text-align: center;
}

.log-heading {
    font-size: xx-large;
    margin-bottom: 20px;
    text-align: center;
    color: blue;
}

.log-heading1 {
    font-size: x-large;
    margin-bottom: 20px;
    text-align: center;
    color: black;
}

.login-label {
    text-align: left;
    margin-right: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: black;
}

.login-text,
.login-password,
.input-group input {
    width: 70%; /* Adjusted width for a slightly smaller form */
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    text-align: left;
}

.button-login {
    background-color: lightseagreen;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 15px 15px;
    font-size: 16px;
    cursor: pointer;
    width: 50%;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: black;
    text-align: left;
    font-size: medium;
}

.input-group input {
    width: 50%; /* Adjusted width for a slightly smaller form */
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.remember-me-checkbox {
    text-align: left;
    margin-left: 155px; /* Adjust the margin as needed */
  }
  