/* Login.css */

body, html {
    margin: 0;
    padding: 0;
}

.login-body {
    overflow: hidden;
    display: flex;
    background-color: whitesmoke;
}

.login-left {
    flex: 1;
    background-image: url('../../time-sheet.png');
    background-size: cover;
    position: relative;
    width: 60%;
    height: 100vh;
}

.login-container {
    text-align: center;
    flex: 1;
    display: flex;
    align-items: center;
}

.login-right {
    flex: 1;
    text-align: center;
}

.login-heading {
    font-size: 20px;
    margin-bottom: 20px;
}

.log-heading {
    font-size: x-large;
    margin-bottom: 20px;
    text-align: center;
    color: blue;
}

.log-heading1 {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: black;
}

.login-label {
    text-align: left; /* Updated to left */
    margin-right: 10px; /* Add margin for spacing between label and input */
    margin-bottom: 10px;
    font-weight: bold;
    color: black;
}

.login-text,
.login-password,
.input-group input {
    width: 70%; /* Adjusted width for consistency */
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    text-align: center; /* Updated to left */
}

.button-login {
    background-color: lightseagreen;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
    width: 50%;
}

/* Additional styles for input groups */
.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: black;
    text-align: center; /* Updated to left */
    font-size: medium;
}

.input-group input {
    width: 50%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
}
