/* AdminDashboard.css */

.header {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: lightgoldenrodyellow;
}
.body-full {
    margin: 0;
    padding: 0;
    background-image: url('../../need-employee-timesheet-management-background-imag-upscaled\ \(2\).png'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.button-his1 {
    background-color: slategrey;
    color: white;
    padding: 15px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
  }
/* AdminDashboard.css */

.list1 a {
    text-decoration: none;
    color: blue; /* Set the color to black or your preferred color */
    font-size: large;
  }
  
  /* Add any other styles you need for your application */
  